<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    testSuitesFiltering="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="API Tests">
            <directory>API</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">../public/api</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
