<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" verbose="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="API">
            <directory>API</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">../public/api</directory>
        </include>
        <report>
            <html outputDirectory="coverage" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
</phpunit>
